*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --grid-size : 600px;
}
body{
    text-align: center;
}
h1{
    margin: 20px;
}
button{
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}
.container{
    width: var(--grid-size);
    height: var(--grid-size);
    max-width: 1200px;
    margin-inline: auto;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
}
.grid-element{
    width: 6.25%;
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 0, 0, 0);
}


